.col-12 {
  background-color: orange;
  margin-bottom: 20px;
}

main .row {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #DDDDDD;
}

.card-pic {
  height: 100%;
  width: 100%
}

* {
  font-family: "Roboto", sans-serif;
}

.card-info h1 {
  font-size: 20px;
  padding-left: 15px;
}

p {
  padding-left: 15px;
}

.card-info {
  padding-bottom: 20px;
}

header p {
  font-size: 15px;
  padding-left: 0px;
}

header h1 {
  margin-bottom: 0px;
}

header {
  padding-left: 10px;
}
